<!DOCTYPE html>
<html>
<head>
  <title>Crear Alumno</title>
</head>
<body>
<h1>Crear Alumno</h1>
<form action="crear" method="post">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre"><br><br>

  <label for="apellido">Apellido:</label>
  <input type="text" id="apellido" name="apellido"><br><br>

  <label for="expediente">Expediente:</label>
  <input type="text" id="expediente" name="expediente"><br><br>

  <input type="submit" value="Guardar">
</form>
</body>
</html>
